.alert-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 59, 56, 0.08);

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        color: #1f1f1f;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.5;
        color: #1f1f1f;
    }

    &__button {
        width: fit-content;
    }
}
