.badge {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 36px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;

    &_green {
        background-color: #75b872;
    }

    &_red {
        background-color: #f57f7d;
    }

    &_gray {
        background-color: #8f8f8f;
    }

    &_blue {
        background-color: #5bb2e0;
    }

    &_yellow {
        background-color: #e0a800;
    }
}
