.radio-wrapper {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    align-items: center;
    padding: 8px 0;

    input[type='radio'] {
        display: none;

        &:checked + label {
            color: #1f1f1f;

            &::before {
                border-color: rgba(1, 144, 219, 1);
            }

            &::after {
                transform: scale(1);
            }
        }

        &.error + label {
            &::before {
                border-color: rgba(255, 59, 56, 1);
            }

            .radio__description {
                color: rgba(255, 59, 56, 1);
            }
        }
    }

    &__label {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding-left: 32px;
        color: #5c5c5c;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        user-select: none;
        transition: color 0.2s;

        &:hover {
            color: #1f1f1f;

            &::before {
                border-color: rgba(1, 144, 219, 1);
            }
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid rgba(143, 143, 143, 1);
            background-color: white;
            box-sizing: border-box;
            transition: all 0.2s;
        }

        &::after {
            content: '';
            position: absolute;
            left: 6px;
            top: 6px;
            transform: scale(0);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgba(1, 144, 219, 1);
            transition: transform 0.2s ease;
        }
    }

    &__description {
        color: #5c5c5c;
        font-size: 12px;
        line-height: 16px;
    }
}
