.text-input {
    position: relative;
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 4px;
        color: #5c5c5c;
        font-size: 12px;
        line-height: 1.33;

        @include mobile {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__input {
        padding: 7px 34px 7px 8px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        background: #fff;
        color: #1f1f1f;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        transition: all 0.2s;

        @include mobile {
            padding: 9px 38px 9px 15px;
            font-size: 16px;
            line-height: 24px;
        }

        &::placeholder {
            color: #8f8f8f;
        }

        &:hover {
            border-color: rgba(1, 144, 219, 0.48);
        }

        &:focus {
            outline: none;
            border-color: rgba(1, 144, 219, 0.48);
        }

        &:disabled {
            border-color: rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.08);
        }

        &.error {
            border-color: rgba(255, 59, 56, 0.48);
        }

        &_force-alert {
            border-color: rgba(255, 59, 56, 0.48);
        }
    }

    &__input-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__reset {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        @include mobile {
            right: 12px;
        }

        &:hover {
            svg {
                fill: #1f1f1f;
            }
        }

        &.active {
            display: flex;
        }
    }

    &__icon {
        fill: #8f8f8f;
        transition: all 0.2s;
    }

    &__alert {
        display: none;
        margin-top: 4px;
        color: #ff3b38;
        font-size: 14px;
        line-height: 20px;

        &.active {
            display: block;
        }
    }

    &__sub-text {
        margin-top: 4px;
        color: #5c5c5c;
        font-size: 14px;
        line-height: 20px;
    }

    &__force-alert {
        margin-top: 4px;
        color: #ff3b38;
        font-size: 14px;
        line-height: 20px;
    }
}
