mixin icon-edit(className='')
    svg(width="24" height="24" viewBox="0 0 24 24" fill="none", class=className)
        path(fill-rule="evenodd" clip-rule="evenodd" d="M15.2197 2.46967C15.5126 2.17678 15.9874 2.17678 16.2803 2.46967L21.5303 7.71967C21.8232 8.01256 21.8232 8.48744 21.5303 8.78033L9.53033 20.7803C9.38968 20.921 9.19891 21 9 21H3.75C3.33579 21 3 20.6642 3 20.25V15C3 14.8011 3.07902 14.6103 3.21967 14.4697L15.2197 2.46967ZM13.8107 6L18 10.1893L19.9393 8.25L15.75 4.06066L13.8107 6ZM16.9393 11.25L12.75 7.06066L4.5 15.3107V19.5H8.68934L16.9393 11.25Z")