mixin icon-logo(className='')
    svg(width="40" height="40" viewBox="0 0 40 40" fill="none", class=className)
        path(d="m37.5 30.0019h1.25c.6904 0 1.25-.5597 1.25-1.25v-17.5c0-.6904-.5596-1.25-1.25-1.25h-1.25z" fill="#dceefd")
        path(d="m34.375 32.5019h1.25c.6904 0 1.25-.5597 1.25-1.25v-22.50001c0-.69035-.5596-1.25-1.25-1.25h-1.25z" fill="#cae6fc")
        path(d="m0 2.50189c0-1.38071 1.11929-2.49999791 2.5-2.49999791h22.2049c1.8585 0 3.0672 1.95577791 2.2361 3.61803791l-7.632 15.26397c-.3519.7038-.3519 1.5322 0 2.236l7.632 15.264c.8311 1.6622-.3776 3.618-2.2361 3.618h-22.2049c-1.38071 0-2.5-1.1193-2.5-2.5z" fill="#e63946")
        path(clip-rule="evenodd" d="m26.875 35.0019h4.875c1.1046 0 2-.8954 2-2v-26.00001c0-1.10457-.8954-2-2-2h-4.875l-6.941 13.88201c-.3519.7038-.3519 1.5322 0 2.236z" fill="#b8ddfb" fill-rule="evenodd")

