.index-form {
    display: flex;
    gap: 16px;
    padding: 8px 0;

    @media (max-width: 1280px) {
        flex-direction: column;
    }
}

.index-dates {
    display: flex;
    gap: 16px;

    @include mobile {
        flex-direction: column;
    }
}

.index-params {
    display: flex;
    gap: 16px;

    @include mobile {
        flex-direction: column;
    }
}

.index-datepicker {
    width: 152px;

    @include tablet {
        width: auto;
    }

    @include mobile {
        width: 100%;
        max-width: none !important;
    }
}

.index-search-input {
    width: 163px;

    &_not-auth {
        width: 280px;
    }

    @include tablet {
        max-width: 240px;
        width: auto;
    }

    @include mobile {
        max-width: none;
    }
}

.index-params-select {
    min-width: 152px;

    @include tablet {
        width: 240px;
    }

    @include mobile {
        width: auto;
    }
}

.index-submit {
    @include mobile {
        max-width: 496px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        button {
            justify-content: center;
        }
    }
}

.index-table {
    grid-template-columns: 124fr 148fr 504fr 128fr 56fr 88fr 56fr;

    .table-row .table-cell:nth-child(5),
    .table-row .table-cell:nth-child(7) {
        padding: 4px 8px;
        display: flex;
        align-items: center;
    }
}

@include mobile {
    .index-table {
        grid-template-columns: 1fr;

        .table-row {
            display: grid;
            grid-template-columns: 232fr 40fr 40fr;
            grid-template-areas:
                'consent status status'
                'name name name'
                'phone phone phone'
                'date cancel print';
        }

        .table-row .table-cell:nth-child(1) {
            grid-area: date;
            padding: 4px 0;
            border-bottom: 1px solid #d6d6d6;
            color: #5c5c5c;
        }
        .table-row .table-cell:nth-child(2) {
            grid-area: phone;
            padding: 0;
            color: #5c5c5c;
        }
        .table-row .table-cell:nth-child(3) {
            grid-area: name;
            padding: 8px 0 4px;
        }
        .table-row .table-cell:nth-child(4) {
            grid-area: consent;
            padding: 6px 0;
            font-size: 12px;
            line-height: 16px;
        }
        .table-row .table-cell:nth-child(5) {
            grid-area: cancel;
            padding: 0;
            border-bottom: 1px solid #d6d6d6;
        }
        .table-row .table-cell:nth-child(6) {
            grid-area: status;
            justify-content: flex-end;
            padding: 4px 0;
        }
        .table-row .table-cell:nth-child(7) {
            grid-area: print;
            padding: 0;
            border-bottom: 1px solid #d6d6d6;
        }
    }
}

.index-pagination {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    padding: 16px 0;
    margin-left: auto;
    margin-right: auto;

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        border-radius: 8px;
        background-color: transparent;
        width: 40px;
        height: 40px;
        cursor: pointer;
        color: #0190db;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        transition: all 0.2s;

        &:hover:not(.index-pagination__button_disabled) {
            color: #006fbc;
        }

        &_active {
            color: #5c5c5c;
            background-color: rgba(1, 144, 219, 0.08);
        }

        &_disabled {
            color: #8f8f8f;
            cursor: default;
        }

        @include mobile {
            &_desktop {
                display: none;
                visibility: hidden;
            }
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: currentColor;

        &_right {
            transform: rotate(180deg);
        }
    }
}

// not-auth

.index-search-input_not-auth {
    @include mobile {
        width: 100%;
    }
}

.index-qr_content {
    @include mobile {
        display: flex;
        justify-content: center;
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        min-height: 36px;
        padding: 0 16px;
        border: none;
        background-color: transparent;
        color: #0190db;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        transition: color 0.2s;
        cursor: pointer;

        &:hover {
            color: #00539d;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: currentColor;
    }
}

.index-table-not-auth {
    grid-template-columns: 124fr 148fr 628fr 128fr 76fr;

    @include mobile {
        grid-template-columns: 1fr;
        margin-top: 8px;
        margin-bottom: 16px;

        .table-row {
            display: grid;
            grid-template-columns: 248fr 80fr;
            grid-template-areas:
                'consent status'
                'name name'
                'phone phone'
                'date date';
        }

        .table-row .table-cell:nth-child(1) {
            grid-area: date;
            padding: 12px 0 4px;
            border-bottom: 1px solid #d6d6d6;
            color: #5c5c5c;
        }
        .table-row .table-cell:nth-child(2) {
            grid-area: phone;
            padding: 0;
        }
        .table-row .table-cell:nth-child(3) {
            grid-area: name;
            padding: 8px 0 4px;
        }
        .table-row .table-cell:nth-child(4) {
            grid-area: consent;
            padding: 0;
            font-size: 12px;
            line-height: 16px;
        }
        .table-row .table-cell:nth-child(5) {
            grid-area: status;
            padding: 4px 0;
            justify-content: flex-end;
        }
    }

    .table-row .table-cell:nth-child(5),
    .table-row .table-cell:nth-child(7) {
        padding: 4px 8px;
        display: flex;
        align-items: center;
    }
}
