.notification-wrapper {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification-text {
    color: #1f1f1f;
    font-size: 16px;
    line-height: 24px;
}

.notification {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__radio {
        display: flex;
        flex-direction: column;
    }

    &__inputs {
        display: flex;
        gap: 32px;

        @include mobile {
            flex-direction: column;
            gap: 16px;

            .select-component-wrapper .select-component {
                max-width: none;
            }
        }
    }

    &__select {
        min-width: 220px;
    }

    &__toggles {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
    }

    &__buttons {
        display: flex;
        padding-top: 16px;

        @include mobile {
            button {
                width: 100%;
                justify-content: center;
            }
        }
    }
}
