@import './includes/header';

.settings-wrapper {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .settings-h3 {
        &_thin {
            padding-bottom: 0;
        }
    }
}

.settings-company-fields {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .settings-field__edit {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.settings-field {
    position: relative;
    display: flex;
    flex-direction: column;

    &_thin {
        max-width: 648px;
    }

    &__label {
        margin-bottom: 4px;
        color: #5c5c5c;
        font-size: 12px;
        line-height: 1.33;
    }

    &__content {
        font-size: 16px;
        line-height: 24px;
    }

    &_name {
        @include mobile {
            .settings-field__label,
            .settings-field__content {
                margin-right: 48px;
            }
        }
    }

    &_add {
        @include mobile {
            .settings-field__label {
                margin-right: 48px;
            }
        }
    }

    &_dop {
        @include mobile {
            .settings-field__content {
                margin-right: 48px;
            }
        }
    }
}

.settings-field-two {
    position: relative;
    display: flex;
    gap: 32px;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
        gap: 16px;
    }

    &__first {
        width: 33.33%;

        @include mobile {
            width: 100%;
        }
    }

    &__second {
        width: 62.22%;

        @include mobile {
            width: 100%;
        }
    }
}

.settings-mail-address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

.settings-text {
    margin: 0;
    color: #1f1f1f;
    font-size: 16px;
    line-height: 24px;
}

.settings-consent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings-generate {
    padding-top: 16px;

    &__button {
        @include mobile {
            width: 100%;
        }
    }
}

.settings-controls {
    display: none;
    gap: 8px;
    margin-top: 16px;

    &.active {
        display: flex;
    }
}

.settings-qr {
    position: absolute;
    top: 0;
    right: -32px;
    transform: translateX(100%);

    @media (max-width: 1300px) {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 240px;
        height: 240px;
        object-fit: contain;
    }

    &__controls {
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }

    &__button {
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            .settings-qr__icon {
                fill: #1f1f1f;
            }
        }
    }

    &__icon {
        fill: #5c5c5c;
        transition: all 0.2s;
    }
}
