include ../icons/icon-calendar.pug
include ../icons/icon-cross.pug

mixin datepicker(name, before, className='')
    .datepicker-component.js-datepicker-wrapper(class=className)
        if before
            .datepicker-component__before= before
        input.datepicker-component__input.js-datepicker(type="text" name=name)
        +icon-calendar('datepicker-component__icon js-datepicker-calendar-icon')
        button.datepicker-component__reset.hidden.js-datepicker-reset(type='button')
            +icon-cross('datepicker-component__reset-icon')