doctype html
html
    block variables
    head
        meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1")
        meta(content="", name="Description")
        meta(content="", name="Keywords")
        meta(content="index,follow", name="robots")
        title Personal account
        link(rel="stylesheet" href="css/index.css")
        link(rel="stylesheet" href="libs/datepicker.css")
        link(rel="stylesheet" href="libs/slimselect.css")
    body
        include components/popup-qr.pug
        block content
        +popup-qr()
    script(src="libs/datepicker.js")
    script(src="libs/slimselect.js")
    script(src="js/index.js")
