extends ../layout.pug

block variables
  - var page = 'howitwork'

block content
    include ../includes/header.pug
    include ../components/h2.pug

    .main-content
        +h2('Как это работает?')