extends ../layout.pug

block variables
  - var page = 'howitwork'

block content
    include ../includes/header.pug
    include ../components/h2.pug

    .main-content
        +h2('Как это работает?')
        .howitwork-wrapper
          ol.howitwork__list
            li.howitwork__li Лицензия покупается салоном и привязывается к логину и паролю Руководителя. Возможна привязка к телефону ответственного лица.
            li.howitwork__li Во вкладке «Настройки соглашения» вы заполняете данные компании и формируете текст согласия на обработку персональных данных. Вы можете дополнить стандартный текст соглашения собственным блоком (максимум 1500 символов).
            li.howitwork__li После ввода всех данных нажимаете кнопку «Сгенерить QR-код».
            li.howitwork__li Справа появляется QR-код с возможностью его распечатать или скачать в виде файла.
            li.howitwork__li Данные компании и текст можно изменить. История всех изменений хранится в системе.
            li.howitwork__li Салон распечатывает QR-код и предлагает посетителям отсканировать его для согласия на обработку персональных данных.
            li.howitwork__li Посетитель сканирует код и переходит на страницу, где он может ознакомится с текстом согласия на обработку персональных данных и указать свой телефон для верификации соглашения.
            li.howitwork__li На указанный посетителем телефон приходит код подтверждения и текст согласия на обработку персональных данных.
            li.howitwork__li После отправки кода посетителю предоставляется информация как он может отозвать свое согласие на обработку персональных данных, а так же скачать или отправить текст соглашения в виде файла.
            li.howitwork__li Согласие также отправляется на почту, указанную в настройках соглашения.
            li.howitwork__li В карточке каждого клиента есть статус получено от него согласие или нет.
            li.howitwork__li Руководитель может отозвать согласие по запросу посетителя.
            li.howitwork__li В разделе «Лента событий» отображаются даты, имена и телефоны пользователей и статус события: Согласие / Отзыв. Возможен поиск по телефону и фильтрация по периоду.
            li.howitwork__li В разделе «Клиенты» доступен фильтр для отображения клиентов с согласием и без него.
            li.howitwork__li При отказе от продления лицензии раздел и статусы пользователей исчезают.