extends ../layout.pug

block variables
  - var page = 'referral'

block content
    include ../includes/header.pug
    include ../components/h2.pug

    .main-content
        +h2('Реферальная программа. Получите «Картотеку» со скидкой до 90% на 3 года!')