extends ../layout.pug

block variables
  - var page = 'settings'

block content
    include ../includes/header.pug
    include ../components/alert.pug
    include ../components/h2.pug
    include ../components/h3.pug
    include ../components/text-input.pug
    include ../components/text-area.pug
    include ../components/button.pug

    .main-content
        .settings-wrapper
            +h2('Настройки соглашения')
            +alert(['Сервис «Картотека» предназначен только для электронного сбора согласий на обработку персональных данных клиентов и не несет никакую другую функцию.', 'Вся ответственность за содержание согласия на обработку персональных данных и работу с персональными данными лежит на ООО «Ромашка на лугу весенним майским утром».'], ['/', 'Федеральный закон «О персональных данных» от 27.07.2006 N 152-ФЗ'])
            +h3('Данные компании, для которой берется согласие')
            .settings-company-fields
                .settings-field
                    +text-input('Наименование юридического лица', 'Необходимо указать наименование юридического лица')
                .settings-field-two
                    .settings-field.settings-field-two__first
                        +text-input('Населенный пункт', 'Необходимо указать наименование населенного пункта')
                    .settings-field.settings-field-two__second
                        +text-input('Улица, дом, корпус, строение', 'Необходимо указать адрес юридического лица')
            .settings-mail-address
                +h3('Адреса электронной почты', 'settings-h3_thin')
                .settings-text При окончании срока лицензии выгрузить согласия будет невозможно. Данные будут доступны только на той почте, которую вы указали для отправки согласий, поэтому внимательно следите за ее доступностью.
            .settings-field-two
                .settings-field.settings-field-two__first
                    +text-input('Адрес получения согласия', 'Необходимо указать адрес')
                .settings-field.settings-field-two__second
                    +text-input('Адрес для запроса на отзыв согласия', 'Необходимо указать адрес')
            +h3('Согласие на обработку и хранение персональных данных')
            .settings-consent
                .settings-consent__text Абонент (номер телефона)
                .settings-consent__text Даёт согласие на обработку персональных данных ООО «Ромашка на лугу весенним майским утром», находящегося по адресу: г. Усть-Каменогорск, Проспект 60-ти летия Октября, д. 358, корп. 13. А также ООО «Салон онлайн» (SONLINE), а также интеграторам и операторам связи, через которые ООО «Ромашка на лугу весенним майским утром» будет отправлять ему сообщения и письма.
                .settings-consent__text Абонент даёт согласие операторам и интеграторам для обработки данных только в рамках деятельности ООО «Ромашка на лугу весенним майским утром», связанной с обслуживанием данного абонента.
                +text-area('Уточняющие положения к соглашению на обработку и хранение персональных данных', 'Вы можете дополнить стандартный текст соглашения. Текст до 1500 символов.')
            +h3('Дополнительное соглашение')
            +text-area('Текст дополнительного соглашения', 'Текст дополнительного соглашения. Текст до 1500 символов.')
            .settings-generate
                +button('Сгенерировать QR-код', 'l')


