.header {
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 272px;
    padding: 24px 16px;
    border-right: 1px solid #d6d6d6;
    background-color: #fff;

    @include tablet {
        right: 0;
        bottom: auto;
        width: auto;
        display: grid;
        grid-template-columns: 48px 1fr 208px;
        padding: 8px 0 8px;
        margin: 0 24px;
        border-right: none;
        border-bottom: 1px solid #d6d6d6;
    }

    @include mobile {
        margin: 0;
        padding: 8px;
        grid-template-columns: 48px 1fr;
    }
}

.header-burger {
    display: none;
    visibility: hidden;

    @include tablet {
        visibility: visible;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0 8px 0 0;
        border-radius: 8px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &__icon {
            width: 16px;
            height: 16px;
            fill: #5c5c5c;
        }
    }
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    margin-bottom: 16px;

    @include tablet {
        padding: 4px 0;
        margin-bottom: 0;
    }

    @include mobile {
        flex-direction: row;
        justify-content: space-between;
    }
}

.title {
    margin: 0;
    color: #1f1f1f;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;

    @include tablet {
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
    }

    @include mobile {
        display: none;
        visibility: hidden;
    }
}

.actions-mobile {
    padding: 6px 0 0 6px;
}

.header-status-main {
    @include mobile {
        display: none !important;
        visibility: hidden;
    }
}

.action-nav-mobile {
    display: none;
    visibility: hidden;

    @include mobile {
        visibility: visible;
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 4px;
    }
}

.nav {
    overflow: auto;
    margin-bottom: 16px;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid #d6d6d6;
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 10px;
    }

    @include tablet {
        position: fixed;
        top: 113px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        margin-bottom: 0;
        padding: 16px 32px;
    }

    @include mobile {
        top: 57px;
        padding: 16px;
    }
}

.nav_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 8px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    text-decoration: none;
    color: #5c5c5c;

    &:hover {
        color: #1f1f1f;
    }

    &_active {
        padding-bottom: 13px;
        border-bottom: 4px solid, #0190db;
        color: #1f1f1f;
    }
}

.user {
    display: flex;
    gap: 8px;
    padding: 8px 0 8px 8px;
    margin-top: auto;

    @include tablet {
        padding: 0;
        margin-left: 16px;
        margin-top: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex-grow: 0;
        width: 184px;
        padding: 8px 0;

        @include tablet {
            width: 144px;
        }
    }

    &__name {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.43;
        color: #1f1f1f;

        @include tablet {
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }
    }

    &__email {
        overflow: hidden;
        color: #5c5c5c;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
    }

    &__button-exit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        border-radius: 8px;
        background-color: transparent;
        color: #5c5c5c;
        cursor: pointer;

        &:hover {
            color: #1f1f1f;
        }

        &:active {
            color: #1f1f1f;
        }

        &_selected {
            background-color: rgba(0, 0, 0, 0.08);
            color: #5c5c5c;
        }
    }

    &__icon-exit {
        fill: currentColor;
    }
}
