@import 'reset';
@import 'fonts';
@import 'vars';

@import './pages/index.scss';
@import './pages/settings.scss';
@import './pages/access.scss';
@import './pages/notifications.scss';
@import './pages/history.scss';
@import './pages/howitwork.scss';
@import './pages/license.scss';
@import './pages/referral.scss';

@import './includes/header.scss';

@import './components/status.scss';
@import './components/tooltip.scss';
@import './components/h2.scss';
@import './components/h3.scss';
@import './components/alert.scss';
@import './components/text-input.scss';
@import './components/text-area.scss';
@import './components/button.scss';
@import './components/edit-button.scss';
@import './components/popup-qr.scss';
@import './components/datepicker.scss';
@import './components/select.scss';
@import './components/badge.scss';
@import './components/search-input.scss';
@import './components/alert-button.scss';
@import './components/radio.scss';
@import './components/toggle.scss';
@import './components/pass-input.scss';
@import './components/table.scss';
@import './components/checkbox.scss';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    min-height: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: $sfProDisplay;
    line-height: 1.5;
    color: #1f1f1f;
    background-color: #fff;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 272px;
    padding: 32px;

    @include tablet {
        margin-left: 0;
        margin-top: 112px;
        padding: 16px 32px;
    }

    @include mobile {
        padding: 16px;
        margin-top: 57px;
    }
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

.body-lock {
    overflow: hidden;
}
